*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto condensed/RobotoCondensed-Regular.ttf");
}

/*************************** global classes *********************/
a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

body {
  font-family: roboto;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

/******************** navbar **************************/
nav {
  position: relative;
  display: -ms-grid;
  display: grid;
  color: white;
}

nav h2 {
  grid-area: logo;
  font-size: 4vw;
  white-space: nowrap;
  text-transform: uppercase;
  background: black;
  padding: .8rem .5rem;
  font-family: roboto;
}

nav h2 a:hover {
  opacity: 0.8;
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

nav ul {
  grid-area: ul;
  list-style-type: none;
  background: black;
  padding: .8rem .5rem;
}

nav ul li {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: roboto;
}

nav ul li::before {
  content: "";
  position: absolute;
  top: 110%;
  left: -5px;
  right: -5px;
  border-bottom: 2px solid white;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

nav ul li:hover a {
  color: #888 !important;
}

nav .social-icons {
  grid-area: icon;
  background: black;
  padding: .8rem .5rem;
}

nav .social-icons a:hover {
  opacity: 0.6;
}

nav a {
  color: white;
}

.btn span {
  display: block;
  background-color: white;
  height: 2px;
  width: 50px;
  margin-top: 10px;
  -webkit-transition: .4s transform;
  transition: .4s transform;
}

.btn span:nth-child(1) {
  width: 30px;
}

.btn span:nth-child(3) {
  width: 40px;
}

.cross span {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.cross span:nth-child(1) {
  width: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 20px;
}

.cross span:nth-child(2) {
  display: none;
}

.cross span:nth-child(3) {
  width: 50px;
  margin-top: 0px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

/*******************   header and header content   ********************/
header {
  height: 100vh;
  position: relative;
  background: url("../assest/header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header-content {
  position: absolute;
  top: 60%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.header-content div p a {
  color: white;
}

/**********************  header animation **********************/
.head-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

.header-anim {
  height: 100vh;
  background-color: black;
  -webkit-animation-name: header-animation;
          animation-name: header-animation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header-anim:nth-child(1) {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}

.header-anim:nth-child(2) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

.header-anim:nth-child(3) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.header-anim:nth-child(4) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

.header-anim:nth-child(5) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.header-anim:nth-child(6) {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}

.header-anim:nth-child(7) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/********************* album section **************************/
.album {
  position: relative;
  padding: 6rem 0 4rem 0;
  text-align: center;
}

.album h2, .shirts h2 {
  position: absolute;
  text-transform: uppercase;
  color: silver;
  opacity: 0.6;
  font-weight: bolder;
}

.album button, .shirts button {
  background-color: black;
  display: inline-block;
  border-radius: 7px;
  color: white;
  letter-spacing: 2px;
  padding: 10px;
}

.album button:hover {
  background-color: #444;
  color: #ddd;
}

.album .carousal-one > div {
  position: relative;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px  gray;
          box-shadow: 0 0 10px  gray;
  overflow: hidden;
}

.album .carousal-one > div .image {
  position: relative;
  overflow: hidden;
}

.album .carousal-one > div .image img {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.album .carousal-one > div:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.album .carousal-one > div .image p {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eee;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 4px;
  letter-spacing: 3px;
}

.album .carousal-one > div .content, .shirts .content {
  text-align: left;
  padding: 20px 15px;
}

.album .carousal-one > div .content h3, .shirts .content h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}

.album .carousal-one > div .content > p, .shirts .content a {
  color: #333;
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.album .carousal-one > div .content hr, .shirts .content hr {
  height: 2px;
  color: black;
  margin-bottom: 12px;
}

.album .carousal-one > div .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.album .carousal-one > div .content div p {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid black;
  font-size: 1.1rem;
}

.album .carousal-one > div .content div p:nth-child(1) {
  padding: 0 15px 0 0;
}

.album .carousal-one > div .image img, .shirts .image img {
  width: 100%;
}

.album h2, .shirts h2 {
  font-size: 5rem;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.album .carousal-one > div {
  width: 85%;
}

/*************** video carousel section *********/
video {
  width: 100%;
}

.video-carousal {
  position: relative;
}

.video-carousal i {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 2rem;
  color: whitesmoke;
  opacity: 0.7;
}

.video-carousal i:nth-child(2) {
  left: 1rem;
}

.video-carousal i:nth-child(3) {
  right: 1rem;
}

/*************** shirts brands section *********/
.shirts {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 6rem 1rem 3rem;
}

.t-shirts > div {
  -webkit-box-shadow: 0 0 10px  gray;
          box-shadow: 0 0 10px  gray;
  overflow: hidden;
  border-radius: 5px;
}

.t-shirts > div .image {
  position: relative;
  cursor: pointer;
}

.t-shirts > div .image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: 1;
}

.t-shirts > div .image::after {
  content: "+";
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  font-weight: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.t-shirts > div .image:hover::before {
  background-color: black;
}

.t-shirts > div .image:hover::after {
  display: inline-block;
}

.t-shirts hr {
  margin-top: 12px;
}

/********** tickets section ************/
.last-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: url(../assest/header-2.jpg) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 6rem 1rem 3rem;
  overflow: hidden;
}

.last-section h2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 2rem);
          transform: translate(-50%, 2rem);
  font-size: 5.5rem;
  text-transform: uppercase;
  color: white;
  opacity: 0.5;
  font-weight: 900;
}

.last-section .tickets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem 0;
}

.last-section .ticket {
  text-align: left;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.last-section .ticket h3 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: .8rem;
  font-size: 1.5rem;
}

.last-section .ticket p {
  display: inline-block;
  color: #333;
}

.last-section .ticket p:nth-child(2) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.last-section .ticket a {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-top: 1.1rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.last-section button {
  margin-top: 4rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/****************** footer *******************/
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
}

footer .stay-updated p {
  margin: .7rem 0 2rem 0;
  letter-spacing: 7px;
  word-spacing: .5rem;
  line-height: 1.8rem;
  font-size: .8rem;
}

footer .stay-updated input {
  display: inline-block;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 1.4rem .7rem;
  width: 90%;
  margin-bottom: 2rem;
}

footer .stay-updated button {
  background-color: white;
  color: black;
  padding: 0.8rem;
  border-radius: 8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

footer .stay-updated button:hover {
  color: gray;
}

footer .footer-navbar {
  margin-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 3rem;
}

footer .navbar li {
  padding: .3rem;
  position: relative;
}

footer .navbar li a {
  font-size: .8rem;
  letter-spacing: 2px;
}

footer .navbar li::before {
  content: "";
  position: absolute;
  top: 110%;
  left: -5px;
  right: -5px;
  border-bottom: 2px solid white;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

footer .navbar li:hover a {
  color: gray;
}

footer .footer-navbar .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

footer .footer-navbar .footer-icons a:hover {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  color: gray;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

footer hr {
  margin: 1rem 0;
}

footer li {
  list-style-type: none;
}

footer a {
  color: white;
}

footer .copyright {
  line-height: 2;
}

footer .copyright ul li {
  cursor: pointer;
}

footer .copyright > p {
  color: gray;
}

/****************************************  mobile media query ***********************/
@media screen and (max-width: 512px) {
  nav .btn {
    display: block;
  }
  nav {
        grid-template-areas: 'logo' 'ul' 'icon';
  }
  nav h2 {
    font-size: 9vw;
  }
  nav ul {
    height: 76vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .ul-show {
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  nav ul li {
    font-size: 9vw;
    text-transform: uppercase;
  }
  nav .social-icons {
    height: 18vh;
    padding-top: 1rem;
    border-top: 2px solid gray;
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (30px)[10];
        grid-template-columns: repeat(10, 30px);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .show-icons {
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: scaleX(1) !important;
            transform: scaleX(1) !important;
  }
  .header-content {
    text-align: center;
  }
  .header-content > p {
    font-size: 5vw;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 1.8px;
  }
  .header-content h2 {
    font-size: 4rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .header-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-content div p {
    letter-spacing: .8px;
  }
  .header-content div p:nth-child(1), .header-content div p:nth-child(2) {
    padding: 5px 20px;
    border-right: 2px solid white;
  }
  .header-content div p:nth-child(3) {
    padding: 5px 20px;
  }
  .head-animation {
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
  }
  .header-anim:nth-child(4),
  .header-anim:nth-child(5),
  .header-anim:nth-child(6),
  .header-anim:nth-child(7) {
    display: none;
  }
  .shirts h2 {
    top: 2rem;
    font-size: 4.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/********************************** min width 790px *********************************/
@media screen and (min-width: 790px) {
  footer .copyright {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  footer .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .copyright ul li {
    margin-right: 1rem;
  }
  footer .copyright > p {
    text-align: right;
  }
}

/****************************************  ipad media query **************************/
@media screen and (min-width: 513px) {
  nav .btn {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
        grid-template-areas: "logo ul ul ul ul icon";
  }
  nav ul li a {
    font-size: 2.5vw;
  }
  nav .social-icons a {
    font-size: 1.4vw;
  }
  nav ul li:hover::before {
    -webkit-transition: .5s transform;
    transition: .5s transform;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .header-content {
    left: 5%;
    -webkit-transform: translate(0%, -40%);
            transform: translate(0%, -40%);
  }
  .header-content > p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .header-content > span {
    display: inline-block;
    width: 20vw;
    border-bottom: 1.5px solid white;
  }
  .header-content h2 {
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .header-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-content div p {
    letter-spacing: .8px;
    font-size: 2rem;
  }
  .header-content div p:nth-child(1), .header-content div p:nth-child(2) {
    padding: 5px 20px;
    border-right: 2px solid white;
  }
  .header-content div p:nth-child(1) {
    padding: 5px 20px 5px 0;
  }
  .header-content div p:nth-child(3) {
    padding: 5px 20px;
  }
  .head-animation {
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
  }
  .header-anim:nth-child(6),
  .header-anim:nth-child(7) {
    display: none;
  }
  .album h2 {
    font-size: 14rem;
    bottom: -4.5rem;
    top: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
  }
  .album {
    min-height: 47vh;
  }
  .carousal-one {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 0 5rem;
  }
  .video-carousal i {
    top: 40%;
    font-size: 3rem;
  }
  .shirts {
    padding: 3.5rem 5rem 6rem;
  }
  .t-shirts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
  .album button, .shirts button {
    margin-top: 5rem;
  }
  .shirts h2 {
    top: unset;
    bottom: 1rem;
    font-size: 12.5rem;
    left: 50%;
    -webkit-transform: translate(-50%, 7rem);
            transform: translate(-50%, 7rem);
  }
  .last-section {
    padding: 6rem 3rem 6rem;
  }
  .last-section h2 {
    top: unset;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 6rem);
            transform: translate(-50%, 6rem);
    font-size: 12.5rem;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
    font-weight: 900;
  }
  .last-section .tickets {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
  }
  .last-section .tickets .ticket p {
    display: inline-block;
    float: left;
  }
  .last-section .ticket a {
    display: inline-block;
    margin-top: unset;
    float: right;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  footer {
    padding: 4rem 2rem;
  }
  footer .footer-navbar {
    margin-top: 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
  footer .footer-navbar .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .navbar li {
    padding: .3rem;
  }
  footer .navbar li a {
    font-size: .8rem;
    letter-spacing: 2px;
  }
  footer .footer-navbar .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset;
    margin: unset;
  }
  footer .footer-navbar .footer-icons a {
    margin-left: 1rem;
  }
  footer .navbar li:hover::before {
    -webkit-transition: .5s transform;
    transition: .5s transform;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/**************** query for width between 470 and 970 *************/
@media screen and (min-width: 470px) and (max-width: 970px) {
  .carousal-one {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
  }
  .carousal-one > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
  .shirts h2 {
    top: 0rem;
    font-size: 8.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .t-shirts {
    margin-top: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }
  .t-shirts > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
}

/****************************************  laptop media query **************************/
@media screen and (min-width: 1440px) {
  nav ul li a {
    font-size: 2.1vw;
  }
  nav .social-icons a {
    font-size: 1.4vw;
  }
  .header-content {
    left: 5%;
    -webkit-transform: translate(0%, -40%);
            transform: translate(0%, -40%);
  }
  .header-content h2 {
    font-size: 7rem;
  }
  .head-animation {
    -ms-grid-columns: (14.285%)[7];
        grid-template-columns: repeat(7, 14.285%);
  }
  .header-anim:nth-child(6),
  .header-anim:nth-child(7) {
    display: block;
  }
  .carousal-one {
    padding: 0 8rem;
  }
  .video-carousal i {
    top: 43%;
    font-size: 3.5rem;
  }
}

/************************ width between 480px and 790px **********************************/
@media screen and (min-width: 480px) and (max-width: 790px) {
  footer .footer-navbar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 2rem;
  }
  footer .footer-navbar .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    margin: auto;
  }
  footer .footer-navbar .footer-icons {
    margin: auto;
    width: 30%;
  }
}

@-webkit-keyframes header-animation {
  0% {
    height: 110vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes header-animation {
  0% {
    height: 110vh;
  }
  100% {
    height: 0vh;
  }
}
/*# sourceMappingURL=style.css.map */